ul {
  list-style: none;
  padding-left: 0rem; }
  ul ul {
    position: absolute;
    display: none;
    background-color: #000246; }
    ul ul li {
      display: block; }
  ul li:hover {
    background-color: #000246; }
    ul li:hover ul {
      display: block; }
  ul li a {
    color: white;
    text-decoration: none; }

li {
  color: white;
  display: inline-block;
  width: 13%;
  position: relative;
  font-size: 14px; }

.padre-menu {
  background-color: #000246;
  text-align: center; }

.menu-desplegable-padre {
  display: none; }

@media screen and (max-width: 1200px) and (min-width: 1024px) {
  .header {
    width: 100%; }
  .menu-desplegable-padre {
    display: inline-block; }
    .menu-desplegable-padre #menu-equipos-hijo {
      display: none; }
    .menu-desplegable-padre #menu-highlights-hijo {
      display: none; }
    .menu-desplegable-padre #menu-historia-hijo {
      display: none; }
    .menu-desplegable-padre #menu-clasificacion-hijo {
      display: none; }
    .menu-desplegable-padre #menu-sobre-hijo {
      display: none; }
    .menu-desplegable-padre #menu-registro-hijo {
      display: none; }
  #menu-tienda {
    display: none; }
  .footer {
    width: 100%; } }

@media screen and (max-width: 1023px) and (min-width: 769px) {
  .menu-desplegable-padre {
    display: inline-block; }
    .menu-desplegable-padre #menu-equipos-hijo {
      display: none; }
    .menu-desplegable-padre #menu-highlights-hijo {
      display: none; }
    .menu-desplegable-padre #menu-historia-hijo {
      display: none; }
    .menu-desplegable-padre #menu-clasificacion-hijo {
      display: none; }
    .menu-desplegable-padre #menu-sobre-hijo {
      display: none; }
  #menu-registro {
    display: none; }
  #menu-tienda {
    display: none; } }

@media screen and (max-width: 768px) and (min-width: 600px) {
  .menu-desplegable-padre {
    display: inline-block; }
    .menu-desplegable-padre #menu-equipos-hijo {
      display: none; }
    .menu-desplegable-padre #menu-highlights-hijo {
      display: none; }
    .menu-desplegable-padre #menu-historia-hijo {
      display: none; }
    .menu-desplegable-padre #menu-clasificacion-hijo {
      display: none; }
  #menu-sobre {
    display: none; }
  #menu-registro {
    display: none; }
  #menu-tienda {
    display: none; } }

@media screen and (max-width: 599px) and (min-width: 480px) {
  .menu-desplegable-padre {
    display: inline-block; }
    .menu-desplegable-padre #menu-equipos-hijo {
      display: none; }
    .menu-desplegable-padre #menu-highlights-hijo {
      display: none; }
    .menu-desplegable-padre #menu-historia-hijo {
      display: none; }
  #menu-clasificacion {
    display: none; }
  #menu-sobre {
    display: none; }
  #menu-registro {
    display: none; }
  #menu-tienda {
    display: none; } }

@media screen and (max-width: 479px) and (min-width: 320px) {
  .menu-desplegable-padre {
    display: inline-block; }
  #menu-equipos {
    display: none; }
  #menu-highlights {
    display: none; }
  #menu-historia {
    display: none; }
  #menu-clasificacion {
    display: none; }
  #menu-sobre {
    display: none; }
  #menu-registro {
    display: none; }
  #menu-tienda {
    display: none; } }

* {
  box-sizing: border-box; }

#logoHeader {
  height: 50px;
  width: 50px; }

#titulo {
  text-align: center;
  color: white; }

.contenedor {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
  margin-top: 40px;
  height: auto;
  width: 500px; }

.hijo {
  display: flex;
  padding: 5px;
  border-radius: 8px;
  font-size: 5px;
  cursor: pointer;
  text-align: center; }

.parte-1 {
  background-color: #06174d;
  grid-column: 1/4;
  display: flex; }

.parte-2 {
  background-color: #06174d;
  grid-column: 1/4;
  display: flex; }

.parte-3 {
  background-color: #06174d;
  grid-column: 1/4;
  display: flex; }

.parte-4 {
  background-color: #06174d;
  grid-column: 1/4;
  display: flex; }

header {
  background-color: #06174d; }

#mejores {
  display: flex;
  margin-left: 50px;
  margin-bottom: 40px;
  margin-top: 40px;
  height: 400px;
  width: 685px; }

#noticia {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  height: 80px;
  width: 120px; }
  #noticia:hover {
    transform: scale(1.1);
    transition: transform 1s ease; }

#tendencia {
  font-size: 20px;
  color: white; }
  #tendencia:hover {
    color: gray; }

footer {
  background-color: #000246; }

h4 {
  margin-left: 20px;
  color: black; }

.redes {
  border-radius: 100%;
  transform: translate(-1000%, 280%);
  height: 30px;
  width: 30px; }

.maintotal {
  width: 100%;
  height: 100%;
  background-image: url(../assets/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around; }

#terminos {
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 50px;
  color: white;
  position: absolute;
  transform: translate(0%, -170px);
  font-size: 11px;
  font-weight: bold;
  text-align: center; }

#imgfinal {
  height: 600px;
  width: 100%;
  display: block;
  height: 600px;
  width: 100%; }

#footer2 {
  text-align: center;
  position: relative;
  height: 100%;
  width: auto; }

#Siguenos {
  transform: translate(-41%, 630%);
  color: aliceblue; }

#proximosPartidos {
  height: auto;
  width: 60px; }

#momentos-texto {
  text-align: center; }

.imgs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center; }

#foto {
  margin-top: 40px;
  border-radius: 10px;
  transition: transform 1s ease;
  margin-bottom: 4cqw;
  height: 200px;
  width: 185px; }

#foto:hover {
  transform: scale(1.1); }

#carouselExampleIndicators {
  text-align: center;
  overflow: hidden;
  background-color: #06174d;
  margin-bottom: 50px;
  height: 400px;
  width: auto; }

.card {
  margin-top: 50px;
  display: flex;
  height: 500px;
  width: auto; }
  .card h5, .card p {
    color: white; }
  .card .card-body {
    background-color: black; }

.active {
  display: flex;
  align-items: center;
  justify-content: center; }

.carrusel-inner {
  display: flex;
  align-items: center;
  justify-content: center; }

.carta {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.carousel2 {
  height: 100px;
  width: auto; }

.asd, *, #logoHeader, #footer2, #carouselExampleIndicators {
  padding: 0;
  margin: 0; }

.banner-padre {
  margin-left: 40px; }

#encabezado {
  margin-top: 50px;
  border-radius: 5px;
  height: 365px;
  width: 400px; }

.tarjetas {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 40px;
  margin-bottom: 30px; }

.principal {
  display: flex;
  justify-content: space-between; }

#representacion {
  height: 600px;
  width: 100%; }

#store {
  border-radius: 10px;
  transform: translate(400%, 200%);
  height: 40px;
  width: 100px; }

#goleadores {
  margin-bottom: 10px;
  margin-left: 20px;
  height: 500px;
  width: 400px; }

#goleador1, #goleador7 {
  transform: translate(20%, -78%);
  height: 200px;
  width: 150px; }

#goleador2 {
  transform: translate(-50%, 50%);
  height: 150px;
  width: 150px; }

#goleador3, #goleador6 {
  transform: translate(-30%, -70%);
  height: 150px;
  width: 200px; }

#goleador4 {
  transform: translate(-200%, 70%);
  height: 150px;
  width: 120px; }

#goleador6 {
  transform: translate(-20%, -120%); }

#goleador7 {
  transform: translate(600%, -160%); }

#goleador8 {
  transform: translate(670%, -135%);
  height: 200px;
  width: 150px; }

.divGoleadores {
  display: flex;
  align-items: center;
  height: 540px;
  width: 100%;
  overflow: hidden; }

@media screen and (max-width: 1200px) and (min-width: 1024px) {
  #mejores {
    height: 300px;
    width: 585px;
    margin-top: 4%; }
  #tendencia {
    font-size: 13px; }
  #foto {
    height: 170px;
    width: 155px; } }

@media screen and (max-width: 1023px) and (min-width: 769px) {
  #mejores {
    height: 200px;
    width: 355px;
    margin-top: 4%; }
  #noticia {
    height: 60px;
    width: 100px; }
  #tendencia {
    font-size: 13px; }
  #foto {
    height: 120px;
    width: 105px; }
  .card {
    height: 60px;
    width: 60px; }
  .card-img-top {
    height: 120px; }
  .card-title {
    font-size: 14px; } }

@media screen and (max-width: 768px) and (min-width: 600px) {
  #mejores {
    height: 180px;
    width: 335px;
    margin-top: 4%; }
  .contenedor {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px; }
  #noticia {
    height: 50px;
    width: 90px; }
  #tendencia {
    font-size: 9px; }
  #foto {
    height: 120px;
    width: 105px; }
  #carouselExampleIndicators {
    height: 320px;
    width: auto; }
  .card {
    height: 60px;
    width: 60px; }
  .card-img-top {
    height: 90px; }
  .card-title {
    font-size: 10px; } }

@media screen and (max-width: 599px) and (min-width: 320px) {
  .maintotal {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%; }
  #mejores {
    height: 150px;
    width: 305px;
    margin-left: 0;
    margin-top: 4%; }
  .contenedor {
    width: 90%; }
  #noticia {
    height: 60px;
    width: 100px; }
  #tendencia {
    font-size: 10px; }
  #foto {
    height: 100px;
    width: 85px; }
  .imgs {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
  #carouselExampleIndicators {
    height: 200px;
    width: auto; }
  .card {
    height: 60px;
    width: 70px; }
  .card-img-top {
    width: 10px;
    height: 50px; }
  .card-title {
    font-size: 5px; } }

@media screen and (max-width: 1400px) and (min-width: 1024px) {
  #encabezado {
    height: 305px;
    width: 340px; }
  .card {
    width: 180px; }
    .card .card-body .card-title {
      font-size: 15px; }
    .card .card-body .card-text {
      font-size: 15px; } }

@media screen and (max-width: 1023px) and (min-width: 769px) {
  .principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .banner-padre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0; }
  .tarjetas {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
    margin-bottom: 30px; }
    .tarjetas .card {
      width: 240px; }
      .tarjetas .card .card-body .card-title {
        font-size: 15px; }
      .tarjetas .card .card-body .card-text {
        font-size: 12px; } }

@media screen and (max-width: 768px) and (min-width: 320px) {
  #representacion {
    height: 230px;
    width: 100%; }
  .principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .banner-padre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0; }
  #encabezado {
    margin-top: 20px;
    height: 325px;
    width: 300px; }
  .tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 5px;
    margin-bottom: 30px; }
    .tarjetas .card {
      width: 300px;
      margin: 20px; }
      .tarjetas .card .card-img-top {
        height: 180px; }
      .tarjetas .card .card-body .card-title {
        font-size: 15px; }
      .tarjetas .card .card-body .card-text {
        font-size: 12px; }
  #divGoleadores-hijo-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  #divGoleadores-hijo-2 {
    display: none; } }

* {
  padding: 0;
  margin: 0; }

#body-highlights {
  background-image: url(../assets/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.cont1 {
  height: auto;
  background-color: #21409A; }

.cont2 {
  height: auto;
  background-color: #362667; }

#h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

p {
  color: white; }

.acordeones {
  background-color: black; }

.container {
  display: flex;
  height: 100%;
  width: 100%; }

.content {
  margin-left: 200px;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box; }

section {
  padding: 20px;
  margin-bottom: 20px;
  border: none; }

section h2 {
  margin-top: 0; }

#scroller {
  height: 300px;
  width: 100%;
  transform: translateX(-200px); }

#equipos-linea1, #equipos-linea2, #equipos-linea3, #equipos-linea4 {
  margin: 0;
  padding: 20px;
  background-color: white;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  text-align: center; }
  #equipos-linea1 div, #equipos-linea2 div, #equipos-linea3 div, #equipos-linea4 div {
    height: 140px;
    width: 90px; }
  #equipos-linea1 p, #equipos-linea2 p, #equipos-linea3 p, #equipos-linea4 p {
    text-align: center;
    color: black; }
  #equipos-linea1 img, #equipos-linea2 img, #equipos-linea3 img, #equipos-linea4 img {
    height: 70%;
    width: 100%; }

#equipos-amadrid img, #equipos-celtic img, #equipos-leipzig img, #equipos-psv img, #equipos-sgraz img {
  height: 50%;
  width: 100%;
  margin-top: 30%; }

#equipos-eroja {
  height: 98px;
  width: 80px; }

@media screen and (max-width: 1024px) and (min-width: 320px) {
  #equipos-linea1, #equipos-linea2, #equipos-linea3, #equipos-linea4 {
    width: 100%; }
    #equipos-linea1 div, #equipos-linea2 div, #equipos-linea3 div, #equipos-linea4 div {
      height: 140px;
      width: 90px; }
    #equipos-linea1 p, #equipos-linea2 p, #equipos-linea3 p, #equipos-linea4 p {
      font-size: 12px;
      text-align: center;
      color: black; }
    #equipos-linea1 img, #equipos-linea2 img, #equipos-linea3 img, #equipos-linea4 img {
      height: 70%;
      width: 100%; } }

* {
  margin: 0;
  padding: 0; }

.body {
  background-image: url(../assets/fondo.png);
  background-size: cover; }

#bannertexto {
  margin: 0;
  padding: 20px;
  width: 100%;
  color: white;
  text-shadow: 2px 1px 5px black;
  text-align: center; }

.grid-sobrechampions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 'noticia1 noticia2' 'noticia3 noticia4' 'noticia5 noticia6' 'noticia7 noticia8';
  height: 100%;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding: 50px; }

.noticia1, .noticia2, .noticia3, .noticia4, .noticia5, .noticia6, .noticia7, .noticia8 {
  background-color: white;
  grid-area: noticia1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px; }
  .noticia1 h4, .noticia2 h4, .noticia3 h4, .noticia4 h4, .noticia5 h4, .noticia6 h4, .noticia7 h4, .noticia8 h4 {
    text-align: start;
    font-size: larger;
    padding: 20px;
    color: black;
    margin-left: 0;
    margin-bottom: 0; }

.noticia2 {
  grid-area: noticia2; }

.noticia3 {
  grid-area: noticia3; }

.noticia4 {
  grid-area: noticia4; }

.noticia5 {
  grid-area: noticia5; }

.noticia6 {
  grid-area: noticia6; }

.noticia7 {
  grid-area: noticia7; }

.noticia8 {
  grid-area: noticia8; }

#trofeo, #realmadrid, #allianzarena, #todosloscampeones, #goleadoresmaximos, #goleadoresxequipo, #creacion, #finalchampions {
  height: 100%;
  width: 360px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; }

@media screen and (max-width: 1648px) and (min-width: 1025px) {
  .grid-sobrechampions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'noticia1 noticia2' 'noticia3 noticia4' 'noticia5 noticia6' 'noticia7 noticia8';
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px; }
  .noticia1, .noticia2, .noticia3, .noticia4, .noticia5, .noticia6, .noticia7, .noticia8 {
    height: 140px; }
    .noticia1 h4, .noticia2 h4, .noticia3 h4, .noticia4 h4, .noticia5 h4, .noticia6 h4, .noticia7 h4, .noticia8 h4 {
      font-size: 12px;
      padding: 7px; }
  #trofeo, #realmadrid, #allianzarena, #todosloscampeones, #goleadoresmaximos, #goleadoresxequipo, #creacion, #finalchampions {
    width: 240px;
    height: 100%; } }

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .grid-sobrechampions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'noticia1' 'noticia2' 'noticia3' 'noticia4' 'noticia5' 'noticia6' 'noticia7' 'noticia8';
    grid-column-gap: 0;
    grid-row-gap: 20px; }
  #textotrofeo, .noticia1 h4, .noticia2 h4, .noticia3 h4, .noticia4 h4, .noticia5 h4, .noticia6 h4, .noticia7 h4, .noticia8 h4 {
    font-size: 18px;
    color: #424242;
    padding: 10px; }
  #trofeo, #realmadrid, #allianzarena, #todosloscampeones, #goleadoresmaximos, #goleadoresxequipo, #creacion, #finalchampions {
    width: 270px;
    height: 100%; } }

@media screen and (max-width: 767px) and (min-width: 500px) {
  .grid-sobrechampions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'noticia1' 'noticia2' 'noticia3' 'noticia4' 'noticia5' 'noticia6' 'noticia7' 'noticia8';
    grid-row-gap: 20px; }
  .noticia1, .noticia2, .noticia3, .noticia4, .noticia5, .noticia6, .noticia7, .noticia8 {
    height: 100px; }
    .noticia1 h4, .noticia2 h4, .noticia3 h4, .noticia4 h4, .noticia5 h4, .noticia6 h4, .noticia7 h4, .noticia8 h4 {
      font-size: 10px; }
  #trofeo, #realmadrid, #allianzarena, #todosloscampeones, #goleadoresmaximos, #goleadoresxequipo, #creacion, #finalchampions {
    width: 270px;
    height: 100%; }
  #goleadoresmaximos {
    width: 180px;
    height: 100%; } }

@media screen and (max-width: 499px) {
  .grid-sobrechampions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'noticia1' 'noticia2' 'noticia3' 'noticia4' 'noticia5' 'noticia6' 'noticia7' 'noticia8';
    height: 100%;
    grid-row-gap: 20px;
    padding: 20px; }
  .noticia1, .noticia2, .noticia3, .noticia4, .noticia5, .noticia6, .noticia7, .noticia8 {
    height: 80px; }
    .noticia1 h4, .noticia2 h4, .noticia3 h4, .noticia4 h4, .noticia5 h4, .noticia6 h4, .noticia7 h4, .noticia8 h4 {
      font-size: 7px;
      padding: 5px; }
  #trofeo, #realmadrid, #allianzarena, #todosloscampeones, #goleadoresmaximos, #goleadoresxequipo, #creacion, #finalchampions {
    width: 120px;
    height: 100%; } }

.padre-tienda {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .padre-tienda #hijo-reloj, .padre-tienda #hijo-souvenir, .padre-tienda #hijo-ropa, .padre-tienda #hijo-pelota {
    color: black;
    text-align: center; }

.padre-venta h3 {
  color: white; }

#padre_items_venta {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white; }
  #padre_items_venta p {
    color: black; }
  #padre_items_venta div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }

@media screen and (max-width: 1648px) and (min-width: 768px) {
  .padre-venta {
    width: 100%; }
    .padre-venta p {
      font-size: 14px; } }

@media screen and (max-width: 767px) {
  .padre-tienda {
    display: none; }
  #padre_items_venta {
    width: 750px; }
    #padre_items_venta p {
      font-size: 14px; } }

.container-registro h2 {
  color: white;
  text-shadow: 0 0 8px black; }

.container-registro #registro-puntua h4 {
  color: white; }

#registro_datos {
  background-color: white;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); }
  #registro_datos #datos-usuario label {
    font-weight: bold;
    color: #1F3A93; }
  #registro_datos #datos-usuario input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc; }

#comentar {
  display: flex;
  align-items: center;
  justify-content: center; }
  #comentar label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; }

#boton-registro {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1F3A93; }

#estado-del-registro {
  display: flex;
  align-items: center;
  justify-content: center; }
  #estado-del-registro #mensajeerror {
    color: red; }
  #estado-del-registro #mensajeexito {
    color: white; }

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  color: red; }

.star {
  font-size: 2rem;
  color: gray;
  cursor: pointer;
  transition: color 0.2s; }

.star:hover,
.star:hover ~ .star {
  color: gold; }

@media screen and (max-width: 500px) {
  #registro_datos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    max-width: 300px;
    width: 100%; } }

.footer {
  background-color: #000246;
  background-image: url(../assets/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 850px; }

.footer-hijo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 80%;
  width: 100%; }

.redes-padre {
  width: 20%;
  position: relative;
  top: 50%; }

#Siguenos {
  transform: translate(0);
  color: aliceblue; }

.redes {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  transform: translate(0); }

.terminos-y-condiciones-padre {
  width: 40%;
  position: relative;
  top: 50%; }

#terminos-hijo {
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  transform: translate(0); }

.tiendavirtual-padre {
  width: 20%;
  position: relative;
  top: 50%; }

#store {
  border-radius: 10px;
  transform: translate(0);
  height: 35px;
  width: 80px; }

@media screen and (max-width: 768px) and (min-width: 320px) {
  .footer {
    width: 100%; }
  .footer-hijo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    height: 80%;
    width: 100%;
    position: relative;
    bottom: 0; }
  .redes-padre {
    width: 100%;
    position: relative;
    top: 50%; }
  .terminos-y-condiciones-padre {
    width: 100%;
    position: relative;
    top: 50%; }
  .tiendavirtual-padre {
    width: 100%;
    position: relative;
    top: 50%; } }

#Informe {
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px; }

#aviso14 {
  margin-right: 10px;
  border-radius: 10px;
  height: 400px;
  width: 700px; }

#cartaNoticia {
  margin-top: 0;
  margin-right: 10px; }

.cuerpo {
  background-image: url(../assets/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#noti {
  color: white; }

#logos {
  width: 50px;
  height: 50px; }

#logoMonaco {
  width: 35px;
  height: 50px;
  transform: translateX(10px); }

#logoBrest {
  width: 50px;
  height: 50px; }

#logoAtalanta {
  height: 80px;
  width: 80px;
  transform: translateX(-14px); }

#logoBO4 {
  width: 80px;
  height: 60px;
  transform: translateX(-14px); }

#logoBologna {
  width: 80px;
  height: 40px;
  transform: translateX(-14px) translateY(10px); }

h2 {
  color: white;
  display: flex;
  justify-content: center; }

h4 {
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center; }

h5 {
  font-size: 15px;
  display: inline-block; }

.h5-1 {
  color: green; }

.h5-2 {
  color: #313131; }

.h5-3 {
  color: red; }

.btn-desplegable {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0; }

.btn-desplegable:hover {
  background-color: #0056b3; }

.informacion {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; }

input[type="checkbox"]:checked + .informacion {
  display: flex;
  opacity: 1; }

.contenido {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  margin: auto; }

.cerrar-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer; }

.cerrar-btn:hover {
  background-color: darkred; }

input[type="checkbox"] {
  display: none; }

#body-clasificacion {
  background-image: url(../assets/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#nombre-equipo {
  transform: translateY(20px);
  font-size: 13   px;
  color: black; }

#tabla {
  width: 70%;
  transform: translateX(220px); }
