ul {
  list-style: none; }
  ul ul {
    position: absolute;
    display: none; }
    ul ul li {
      display: block; }
  ul li:hover {
    background-color: #000246; }
    ul li:hover ul {
      display: block;
      background-color: aquamarine; }
  ul li a {
    color: white;
    text-decoration: none; }

li {
  display: inline-block;
  width: 23%;
  position: relative;
  font-size: 14px; }

.menu {
  background-color: #000246;
  text-align: center; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#logoHeader {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0; }

#titulo {
  text-align: center;
  color: white; }

.contenedor {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  width: 500px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
  margin-top: 40px; }

.hijo {
  display: flex;
  padding: 5px;
  border-radius: 8px;
  font-size: 5px;
  cursor: pointer;
  text-align: center; }

.parte-1 {
  background-color: #06174d;
  grid-column: 1/4;
  display: flex; }

.parte-2 {
  background-color: #06174d;
  grid-column: 1/4;
  display: flex; }

.parte-3 {
  background-color: #06174d;
  grid-column: 1/4;
  display: flex; }

.parte-4 {
  background-color: #06174d;
  grid-column: 1/4;
  display: flex; }

header {
  background-color: #06174d; }

#mejores {
  width: 685px;
  height: 400px;
  display: flex;
  margin-left: 50px;
  margin-bottom: 40px;
  margin-top: 40px; }

#noticia {
  height: 80px;
  width: 120px;
  display: flex;
  justify-content: center;
  margin-right: 30px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10%; }
  #noticia:hover {
    transform: scale(1.1);
    transition: transform 1s ease; }

#tendencia {
  font-size: 20px;
  color: white; }
  #tendencia:hover {
    color: gray; }

footer {
  background-color: #000246; }

h4 {
  margin-left: 20px;
  color: black; }

.redes {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  transform: translate(-1400%, 300%); }

.maintotal {
  width: 100%;
  height: 100%;
  background-image: url(../assets/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex; }

#terminos {
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 50px;
  color: white;
  position: absolute;
  transform: translate(0%, -150px);
  font-size: 11px;
  font-weight: bold;
  text-align: center; }

#imgfinal {
  height: 600px;
  width: 100%;
  display: block; }

#footer2 {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  position: relative; }

#Siguenos {
  transform: translate(-41%, 630%);
  color: aliceblue; }

#proximosPartidos {
  height: 60px; }

.imgs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center; }

#foto {
  margin-top: 40px;
  border-radius: 10px;
  transition: transform 1s ease;
  margin-bottom: 4cqw;
  height: 200px;
  width: 185px; }

#foto:hover {
  transform: scale(1.1); }

#carouselExampleIndicators {
  text-align: center;
  overflow: hidden;
  height: 400px;
  margin: 0;
  padding: 0;
  background-color: #06174d;
  margin-bottom: 50px; }

.card {
  margin-top: 50px;
  display: flex;
  height: 500px; }
  .card h5, .card p {
    color: white; }
  .card .card-body {
    background-color: black; }

.active {
  display: flex;
  align-items: center;
  justify-content: center; }

.carrusel-inner {
  display: flex;
  align-items: center;
  justify-content: center; }

.carta {
  display: flex;
  align-items: center;
  justify-content: space-around; }

img {
  height: 150px; }

.carousel2 {
  height: 100px; }

.asd {
  padding: 0;
  margin: 0; }

#encabezado {
  height: 365px;
  width: 400px;
  margin-top: 50px;
  border-radius: 5px; }

.tarjetas {
  display: flex;
  margin-right: 40px;
  margin-bottom: 30px; }

.principal {
  display: flex; }

#representacion {
  transform: translate(0%, 0%);
  height: 500px;
  width: 100%; }

* {
  padding: 0;
  margin: 0; }

#body-highlights {
  background-image: url(../assets/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.cont1 {
  height: auto;
  background-color: #21409A; }

.cont2 {
  height: auto;
  background-color: #362667; }

#h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

p {
  color: white; }

.acordeones {
  background-color: black; }

.container {
  display: flex;
  height: 100%;
  width: 100%; }

.content {
  margin-left: 200px;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box; }

section {
  padding: 20px;
  margin-bottom: 20px;
  border: none; }

section h2 {
  margin-top: 0; }

#scroller {
  height: 300px;
  width: 100%;
  transform: translateX(-200px); }

* {
  margin: 0;
  padding: 0; }

.body {
  background-image: url(../assets/fondo.png);
  background-size: cover; }

.banner-padre {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 10px; }
  .banner-padre #bannertexto {
    color: white;
    text-shadow: 2px 1px 5px black;
    text-align: center; }

.grid-sobrechampions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 'noticia1 noticia2' 'noticia3 noticia4' 'noticia5 noticia6' 'noticia7 noticia8';
  height: 1000px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding: 50px; }

.noticia1, .noticia2, .noticia3, .noticia4, .noticia5, .noticia6, .noticia7, .noticia8 {
  background-color: white;
  grid-area: noticia1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px; }
  .noticia1 h4, .noticia2 h4, .noticia3 h4, .noticia4 h4, .noticia5 h4, .noticia6 h4, .noticia7 h4, .noticia8 h4 {
    text-align: start;
    font-size: larger;
    padding: 20px;
    color: black; }

.noticia2 {
  grid-area: noticia2; }

.noticia3 {
  grid-area: noticia3; }

.noticia4 {
  grid-area: noticia4; }

.noticia5 {
  grid-area: noticia5; }

.noticia6 {
  grid-area: noticia6; }

.noticia7 {
  grid-area: noticia7; }

.noticia8 {
  grid-area: noticia8; }

#trofeo, #realmadrid, #allianzarena, #todosloscampeones, #goleadoresmaximos, #goleadoresxequipo, #creacion, #finalchampions {
  height: 100%;
  width: 360px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; }

@media screen and (max-width: 1648px) and (min-width: 1025px) {
  .banner-padre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 10px; }
    .banner-padre #bannertexto {
      color: white;
      text-shadow: 2px 1px 5px black;
      text-align: center; }
  .grid-sobrechampions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'noticia1 noticia2' 'noticia3 noticia4' 'noticia5 noticia6' 'noticia7 noticia8';
    height: 1000px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 50px; }
  .noticia1, .noticia2, .noticia3, .noticia4, .noticia5, .noticia6, .noticia7, .noticia8 {
    height: 240px; }
    .noticia1 h4, .noticia2 h4, .noticia3 h4, .noticia4 h4, .noticia5 h4, .noticia6 h4, .noticia7 h4, .noticia8 h4 {
      font-size: 14px;
      color: #424242;
      padding: 7px; }
  #trofeo, #realmadrid, #allianzarena, #todosloscampeones, #goleadoresmaximos, #goleadoresxequipo, #creacion, #finalchampions {
    width: 240px;
    height: 100%;
    border-radius: 0; } }

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .banner-padre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 10px; }
    .banner-padre #bannertexto {
      color: white;
      text-shadow: 2px 1px 5px black;
      text-align: center; }
  .grid-sobrechampions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'noticia1' 'noticia2' 'noticia3' 'noticia4' 'noticia5' 'noticia6' 'noticia7' 'noticia8';
    grid-column-gap: 0;
    grid-row-gap: 40px; }
  .noticia1, .noticia2, .noticia3, .noticia4, .noticia5, .noticia6, .noticia7, .noticia8 {
    border-radius: 0; }
  #textotrofeo, .noticia1 h4, .noticia2 h4, .noticia3 h4, .noticia4 h4, .noticia5 h4, .noticia6 h4, .noticia7 h4, .noticia8 h4 {
    font-size: 18px;
    color: #424242;
    padding: 10px; }
  #trofeo, #realmadrid, #allianzarena, #todosloscampeones, #goleadoresmaximos, #goleadoresxequipo, #creacion, #finalchampions {
    width: 270px;
    height: 100%;
    border-radius: 0; } }

@media screen and (max-width: 767px) {
  .banner-padre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 10px; }
    .banner-padre #bannertexto {
      color: white;
      text-shadow: 2px 1px 5px black;
      text-align: center; }
  .grid-sobrechampions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'noticia1' 'noticia2' 'noticia3' 'noticia4' 'noticia5' 'noticia6' 'noticia7' 'noticia8';
    width: 100%;
    grid-column-gap: 0;
    grid-row-gap: 30px;
    padding: 0; }
  .noticia1, .noticia2, .noticia3, .noticia4, .noticia5, .noticia6, .noticia7, .noticia8 {
    height: 100px; }
    .noticia1 h4, .noticia2 h4, .noticia3 h4, .noticia4 h4, .noticia5 h4, .noticia6 h4, .noticia7 h4, .noticia8 h4 {
      font-size: 10px;
      color: #424242;
      padding: 10px; } }

* {
  margin: 0;
  padding: 0; }

.padre-tienda {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .padre-tienda #hijo-reloj, .padre-tienda #hijo-souvenir, .padre-tienda #hijo-ropa, .padre-tienda #hijo-pelota {
    color: blue;
    text-align: center; }

#padre_items_venta {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  #padre_items_venta p {
    color: black; }
  #padre_items_venta div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }

#logos {
  width: 50px;
  height: 50px; }

#logoMonaco {
  width: 35px;
  height: 50px;
  transform: translateX(10px); }

#logoBrest {
  width: 50px;
  height: 50px; }

#logoAtalanta {
  height: 80px;
  width: 80px;
  transform: translateX(-14px); }

#logoBO4 {
  width: 80px;
  height: 60px;
  transform: translateX(-14px); }

#logoBologna {
  width: 80px;
  height: 40px;
  transform: translateX(-14px) translateY(10px); }

h2 {
  color: white;
  display: flex;
  justify-content: center; }

h4 {
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center; }

h5 {
  font-size: 15px;
  display: inline-block; }

.h5-1 {
  color: green; }

.h5-2 {
  color: #313131; }

.h5-3 {
  color: red; }

.btn-desplegable {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0; }

.btn-desplegable:hover {
  background-color: #0056b3; }

.informacion {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; }

input[type="checkbox"]:checked + .informacion {
  display: flex;
  opacity: 1; }

.contenido {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  margin: auto; }

.cerrar-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer; }

.cerrar-btn:hover {
  background-color: darkred; }

input[type="checkbox"] {
  display: none; }

#body-clasificacion {
  background-image: url(../assets/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#nombre-equipo {
  transform: translateY(20px);
  font-size: 13   px; }

#tabla {
  width: 70%;
  transform: translateX(220px); }
