*{
    padding: 0;
    margin: 0;
}

#body-highlights{
    background-image: url(../assets/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


$colores-divs:(
    1: #21409A,
    2: #362667,
);

@each $num, $color in $colores-divs{
    .cont#{$num}{
        height: auto;
        background-color: $color;
    }
}

#h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#p-highlights{
    color: white;
}

.acordeones{
    background-color: black;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}



.content {
    margin-left: 200px;
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    border: none;
}

section h2 {
    margin-top: 0;
}

#scroller{
    height: 450px;
    width: 100%;
    transform: translateX(-200px);
}

#img-viktor{
    width: 250px;
    height: 150px;
    padding: 10px;
}

#img-viktor:hover{
    transform: scale(1.1);
}