*{
    box-sizing: border-box;
    @extend .asd;
}
@mixin medidas($alto, $ancho){
    height: $alto;
    width: $ancho;
}

#logoHeader{
    @extend .asd;
    @include medidas(50px, 50px)
}
#titulo{
    text-align: center;
    color: white;
}
.contenedor{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    margin-top: 40px;
    @include medidas(auto, 500px)
}
.hijo{
    display: flex;
    padding: 5px;
    border-radius: 8px;
    font-size: 5px;
    cursor: pointer;
    text-align: center;
}
.parte-1{
    background-color: #06174d;
    grid-column: 1/4;
    display: flex;

}
.parte-2{
    background-color: #06174d;
    grid-column: 1/4;
    display: flex;
}
.parte-3{
    background-color: #06174d;
    grid-column: 1/4;
    display: flex;
}
.parte-4{
    background-color: #06174d;
    grid-column: 1/4;
    display: flex;
}
header{
    background-color: #06174d;
}
#mejores{
    display: flex;
    margin-left: 50px;
    margin-bottom: 40px;
    margin-top: 40px;
    @include medidas(400px, 685px);
}
#noticia{
    &:hover{
        transform: scale(1.1);
        transition: transform 1s ease;
    }
    display: flex;
    justify-content: center;
    margin-right: 30px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    @include medidas(80px, 120px)
}
#tendencia{
    &:hover{
        color: gray;  
    }
    font-size: 20px;
    color: white;
}
footer{
    background-color: #000246;
}
h4{
    margin-left: 20px;
    color: black;
}
.redes{
    border-radius: 100%;
    transform: translate(-1000%, 280%);
    @include medidas(30px, 30px)
}
.maintotal{
    width: 100%;
    height: 100%;
    background-image: url(../assets/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#terminos{
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 50px;
    color: white;
    position: absolute;
    transform: translate(0%, -170px);
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}
#imgfinal{
    height: 600px;
    width: 100%;
    display: block;
    @include medidas(600px, 100%)
}
#footer2{
    @extend .asd;
    text-align: center;
    position: relative;
    @include medidas(100%, auto)
}
#Siguenos{
    transform: translate(-41%, 630%);
    color: aliceblue;
}
#proximosPartidos{
    @include medidas(auto, 60px)
}
#momentos-texto{
    text-align: center;
}
.imgs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
#foto{
    margin-top: 40px;
    border-radius: 10px;
    transition: transform 1s ease;
    margin-bottom: 4cqw;
    @include medidas(200px, 185px)

}
#foto:hover{
    transform: scale(1.1);
}
#carouselExampleIndicators{
    text-align: center;
    overflow: hidden;
    @extend .asd;
    background-color: #06174d;
    margin-bottom: 50px;
    @include medidas(400px, auto)
}
.card{
    margin-top: 50px;
    display: flex;
    h5, p{
        color: white;
    }
    .card-body{
        background-color: black;
    }
    @include medidas(500px, auto)
}


.active{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrusel-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carta{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
    @include medidas(150px, auto)
}
.carousel2{
    @include medidas(100px, auto)
}
.asd{
    padding: 0;
    margin: 0;
}
#encabezado{
    margin-top: 50px;
    border-radius: 5px;
    @include medidas(365px, 400px)

}
.tarjetas{
    display: flex;
    margin-right: 40px;
    margin-bottom: 30px;
}
.principal{
    display: flex;
}
#representacion{
    @include medidas(500px, 100%)
}
#store{
    border-radius: 10px;
    transform: translate(400%, 200%);
    @include medidas(40px, 100px)
}
#goleadores{
    margin-bottom: 10px;
    margin-left: 20px;
    @include medidas(500px, 400px)
}
#goleador1{
    transform: translate( 20%, -78%);
    @include medidas(200px, 150px)
}
#goleador2{
    transform: translate( -50%, 50%);
    @include medidas(150px, 150px)
}
#goleador3{
    transform: translate( -30%, -70%);
    @include medidas(150px, 200px)
}
#goleador4{
    transform: translate( -200%, 70%);
    @include medidas(150px, 120px)
}
#goleador6{
    transform: translate( -20%, -120%);
    @include medidas(150px, 200px)
}
#goleador7{
    transform: translate( 600%, -160%);
    @include medidas(200px, 150px)
}
#goleador8{
    transform: translate( 670%, -135%);
    @include medidas(200px, 150px)
}
.divGoleadores{
    @include medidas(540px, 100%)
}


@media screen and (max-width: 1200px) and (min-width: 1024px){
    
    #mejores{
        @include medidas(300px, 585px);
        margin-top: 4%;
    }
    
    #tendencia{
        font-size: 13px;
    }

    #foto{
        @include medidas(170px, 155px);
    }
}

@media screen and (max-width: 1023px) and (min-width: 769px){
    
    #mejores{
        @include medidas(200px, 355px);
        margin-top: 4%;
    }
    
    #noticia{
        @include medidas(60px, 100px)
    }

    #tendencia{
        font-size: 13px;
    }

    #foto{
        @include medidas(120px, 105px);
    }

}

@media screen and (max-width: 768px) and (min-width: 600px){

    #mejores{
        @include medidas(180px, 335px);
        margin-top: 4%;
    }
    
    .contenedor{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #noticia{
        @include medidas(50px, 90px)
    }

    #tendencia{
        font-size: 9px;
    }

    #foto{
        @include medidas(120px, 105px);
    }

}

@media screen and (max-width: 599px) and (min-width: 320px){
    .maintotal{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }

    #mejores{
        @include medidas(150px, 305px);
        margin-left: 0;
        margin-top: 4%;
    }
    
    .contenedor{
        width: 90%;
    }

    #noticia{
        @include medidas(60px, 100px)
    }

    #tendencia{
        font-size: 10px;
    }

    #foto{
        @include medidas(100px, 85px);
    }

    .imgs{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #carouselExampleIndicators{
        @include medidas(200px, auto)
    }

    .card{
        @include medidas(60px, 60px)
    }

    .card-img-top{
        width: 10px;
        height: 50px;
    }
    
    .card-title{
        font-size: 5px;
    }
}