ul{
    list-style: none;

    ul{
        position: absolute;
        display: none;

        li{
            display: block;
        }
    }

    li{
        &:hover{
            background-color: #000246;

            ul{
                display: block;
                background-color: aquamarine;
            
            }

        }
        a{
            color: white;
            text-decoration: none;
        }
    }
}

li{
    display: inline-block;
    width: 13%;
    position: relative;
    font-size: 14px;
}
.menu{
    background-color: #000246;
    text-align: center;
}