#Informe{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 20px;
}
@mixin medidas($alto, $ancho){
    height: $alto;
    width: $ancho;
}
#aviso14{
    margin-right: 10px;
    border-radius: 10px;
    @include medidas(400px, 700px)
}
#cartaNoticia{
    margin-top: 0;
    margin-right: 10px;
    @include medidas(400px, 400px);
    .card-body{
        border-radius: 10px
    }
}
.cuerpo{
    background-image: url(../assets/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width: 1200px) and (min-width: 1024px){
    #aviso14{
        @include medidas(300px, 500px)
    }
    #cartaNoticia{
            margin-top: 0;
            margin-right: 10px;
            border: 0;

            @include medidas(300px, 300px);
    .card-body{
            background-color: white;
            border-radius: 10px;
            .card-text{
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    #aviso14{
        @include medidas(200px, 350px)
    }
    #cartaNoticia{
        margin-top: 0;
        margin-right: 10px;
        border: 0;
        @include medidas(100px, 200px);
        .card-img-top{
            height: 80px;
        }
            .card-body{
            background-color: white;
            border-radius: 10px;
            padding: 10px;
            .card-title{
                font-size: 10px;
            }
            .card-text{
                font-size: 10px;
            }
        }
    }
}

@media screen and (max-width: 1023px){
    #Informe{
        display: flex;
        flex-wrap: wrap;
    }
}