
.container-registro{
    h2{
        color: white;
        text-shadow: 0 0 8px rgb(0, 0, 0);
    }
    h4{
        @extend .container-registro;
    }
    #registro-puntua{
        h4{
            color: white;
        }
    }
}

#registro_datos {
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    #datos-usuario{
        label{
            font-weight: bold;
            color: #1F3A93;
        }
        input{
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
    }
    
}

#comentar{
    display: flex;
    align-items: center;
    justify-content: center;
    label{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
    }
}

#boton-registro{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1F3A93;
}

#estado-del-registro{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    color: red;
}

.star {
    font-size: 2rem;
    color: gray;
    cursor: pointer;
    transition: color 0.2s;
}

.star:hover,
.star:hover ~ .star {
    color: gold;
}

@media screen and (max-width: 500px){
    #registro_datos {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        max-width: 300px;
        width: 100%;
    }
}