@mixin medidas($ancho, $alto){
    height: $alto;
    width: $ancho;
}

*{
    margin: 0;
    padding: 0;
}

.body{
    background-image: url(../assets/fondo.png);
    background-size: cover;
}
                                                                                                                                                                             ;
#bannertexto{
    margin: 0;
    padding: 20px;
    width: 100%;
    color: white;
    text-shadow: 2px 1px 5px black;
    text-align: center;
} 


.grid-sobrechampions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        'noticia1 noticia2'
        'noticia3 noticia4'
        'noticia5 noticia6'
        'noticia7 noticia8';

    height: 100%;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 50px;
}

.noticia1{
    background-color: white;
    grid-area: noticia1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    h4{
        text-align: start;
        font-size: larger;
        padding: 20px;
        color: black;
        margin-left: 0;
        margin-bottom: 0
    }
}

.noticia2{
    @extend .noticia1;
    grid-area: noticia2;
}

.noticia3{
    @extend .noticia1;
    grid-area: noticia3;
}

.noticia4{
    @extend .noticia1;
    grid-area: noticia4;
}

.noticia5{
    @extend .noticia1;
    grid-area: noticia5;
}

.noticia6{
    @extend .noticia1;
    grid-area: noticia6;
}

.noticia7{
    @extend .noticia1;
    grid-area: noticia7;
}

.noticia8{
    @extend .noticia1;
    grid-area: noticia8;
}

#trofeo{
    @include medidas(360px, 100%);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

#realmadrid{
    @extend #trofeo;
}

#allianzarena{
    @extend #trofeo;
}

#todosloscampeones{
    @extend #trofeo;
}

#goleadoresmaximos{
    @extend #trofeo;
}

#goleadoresxequipo{
    @extend #trofeo;
}

#creacion{
    @extend #trofeo;
}

#finalchampions{
    @extend #trofeo;
}

@media screen and (max-width: 1648px) and (min-width: 1025px){
    .grid-sobrechampions{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            'noticia1 noticia2'
            'noticia3 noticia4'
            'noticia5 noticia6'
            'noticia7 noticia8';
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 20px;
    }

    .noticia1{
        height: 140px;
        h4{
            font-size: 12px;
            padding: 7px;
        }
    }

    #trofeo{
        width: 240px;
        height: 100%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
    .grid-sobrechampions{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            'noticia1'
            'noticia2'
            'noticia3'
            'noticia4'
            'noticia5'
            'noticia6'
            'noticia7'
            'noticia8';
        grid-column-gap: 0;
        grid-row-gap: 20px;
    }
    
    .noticia1{
        h4{
            @extend #textotrofeo;
        }
    }

    #textotrofeo{
        font-size: 18px;
        color: rgb(66, 66, 66);
        padding: 10px;
    }

    #trofeo{
        width: 270px;
        height: 100%;
    }
}
@media screen and (max-width: 767px) and (min-width: 500px){
    .grid-sobrechampions{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            'noticia1'
            'noticia2'
            'noticia3'
            'noticia4'
            'noticia5'
            'noticia6'
            'noticia7'
            'noticia8';
        grid-row-gap: 20px;
    }
    
    .noticia1{
        height: 100px;
        h4{
            font-size: 10px;
        }
    }

    #trofeo{
        width: 270px;
        height: 100%;
    }

    #goleadoresmaximos{
        width: 180px;
        height: 100%;
    }
}

@media screen and (max-width: 499px){
    .grid-sobrechampions{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            'noticia1'
            'noticia2'
            'noticia3'
            'noticia4'
            'noticia5'
            'noticia6'
            'noticia7'
            'noticia8';
        height: 100%;
        grid-row-gap: 20px;
        padding: 20px;
    }
    
    .noticia1{
        height: 80px;
        h4{
            font-size: 7px;
            padding: 5px;
        }
    }

    #trofeo{
        width: 120px;
        height: 100%;
    }
}