@mixin medidas($alto, $ancho){
    height: $alto;
    width: $ancho;
}

.padre-tienda{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 98%;
    margin-left: 1%;
    opacity: 1;
    img{
        @include medidas(150px, 170px);
    }
    #hijo-reloj{
        color: black;
        text-align: center;
    }

    #hijo-souvenir{
        @extend #hijo-reloj;
    }

    #hijo-ropa{
        @extend #hijo-reloj;
    }

    #hijo-pelota{
        @extend #hijo-reloj;
    }
}

.padre-venta{
    img{
        @include medidas(150px, 150px)
    }
    h3{
        color: white;
    }
}

#padre_items_venta{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    p{
        color: black;
    }
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1648px) and (min-width: 768px){
    
    .padre-venta{
        width: 100%;
        p{
            font-size: 14px;
        }
    }
}



@media screen and (max-width: 767px){

    .padre-tienda{
        display: none;
    }
    #padre_items_venta{
        width: 750px;
        p{
            font-size: 14px;
        }
    }
}