@mixin medidas($alto, $ancho){
    height: $alto;
    width: $ancho;
}

.padre-tienda{
    box-shadow: 0 0 15px black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 98%;
    margin-left: 1%;
    opacity: 1;
    img{
        @include medidas(150px, 170px);
    }
    #hijo-reloj{
        color: white;
        text-shadow: 0 0 5px black;
        text-align: center;
    }

    #hijo-souvenir{
        @extend #hijo-reloj;
    }

    #hijo-ropa{
        @extend #hijo-reloj;
    }

    #hijo-pelota{
        @extend #hijo-reloj;
    }
}

.padre-venta{
    img{
        @include medidas(150px, 150px)
    }
    h3{
        margin-top: 2%;
        margin-bottom: 2%;
        color: white;
    }
    a{
        text-decoration: none;
    }
}

#padre_items_venta{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 15px black;
    p{
        color: white;
        text-shadow: 0 0 5px black;
    }
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        box-shadow: 0 0 0;
        &:hover{
            transform: scale(1.04);
            transition: all 0.3s;
        }
    }
}

@media screen and (max-width: 1648px) and (min-width: 768px){
    
    .padre-venta{
        width: 100%;
        p{
            font-size: 14px;
        }
    }
}



@media screen and (max-width: 767px){

    .padre-tienda{
        display: none;
    }
    .padre-venta{
        width: auto;
        img{
            @include medidas(75px, 75px)
        }
        h3{
            margin-top: 2%;
            margin-bottom: 2%;
            color: white;
        }
        a{
            text-decoration: none;
        }
    }
    #padre_items_venta{
        p{
            font-size: 10px;
        }
    }
}