@import 'menu';
@import 'manu';
@import 'dante';
@import 'equipos';
@import 'sobre';
@import 'tienda';

#logos{
    width: 50px;
    height: 50px;
}

#logoMonaco{
    width: 35px;
    height: 50px;  
    transform: translateX(10px);  
}

#logoBrest{
    width: 50px;
    height: 50px;
}

#logoAtalanta{
    height: 80px;
    width: 80px;
    transform: translateX(-14px);
}

#logoBO4{
    width: 80px;
    height: 60px;
    transform: translateX(-14px);
}

#logoBologna{
    width: 80px;
    height: 40px;
    transform: translateX(-14px) translateY(10px);
}

h2{
    color: white;
    display: flex;
    justify-content: center;
}

h4{
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
}

h5{
    font-size: 15px;
    display: inline-block;
}

$partidos:(
    1: green,
    2: rgb(49, 49, 49),
    3: red,
); 

@each $num, $color in $partidos{
    .h5-#{$num}{
        color: $color;
    }
}

.btn-desplegable {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
}

.btn-desplegable:hover {
    background-color: #0056b3;
}


.informacion {
    display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    z-index: 1000; 
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


input[type="checkbox"]:checked + .informacion {
    display: flex;
    opacity: 1;
}

.contenido {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    margin: auto;
}

.cerrar-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cerrar-btn:hover {
    background-color: darkred;
}
input[type="checkbox"] {
    display: none;
}

#body-clasificacion{
    background-image: url(../assets/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#nombre-equipo{
    transform: translateY(20px);
    font-size: 13   px;
}

#tabla{
    width: 70%;
    transform: translateX(220px);
}
